# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# csv files
*.csv

# html
*.html

# database
*.db

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Jupyter Notebook files
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Pyre
.pyre/

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini